/* ======================================== */
/* ======== VARIABLES */

:root {
    --background: #2d3142;
    --text: #ffffff;
    --footer-link: #ef8354;
    --button-1: #4f5d75;
    --button-2: #ffffff;
    --color-p1: #ef8354;
    --color-p2: #ffffff;
    --color-draw: #4f5d75;
    --border: #4f5d75;
}

/* ======================================== */
/* ======== MAIN */

html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1em;
    color: var(--text);
    background-color: var(--background);
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media(max-width:1024px) {
    a:focus,
    a:active {
        outline: none !important;
    }

    #app {
        flex-direction: column;
        justify-content: flex-start;
    }
}

/* ======================================== */
/* ======== APP */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    text-transform: uppercase;
    font-size: 3em;
}

#footer {
    padding: 2vh;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.9em;
    line-height: 1.6em;
}

#footer a {
    text-decoration: none;
    color: var(--footer-link);
    cursor: pointer;
}

@media(max-width:1024px) {
    header {
        font-size: 2.1em;
    }
}

/* ======================================== */
/* ======== BUTTON */

.buttonList {
    display: flex;
    justify-content: center;
    padding: 2vh 0;
}

button {
    margin: 0 2vw;
    padding: 2vh;
    min-width: 20vw;
    border: 2px solid transparent;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1.5em;
    font-weight: bolder;
    background-color: var(--button-1);
    color: var(--button-2)
}

button:hover {
    background-color: var(--button-2);
    color: var(--button-1)
}

#reload {
    display: none;
}

@media (max-width:1024px) {
    button {
        min-width: 50vw;
    }
}

/* ======================================== */
/* ======== GAME */

#titleScreen,
#gameOver,
#board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#board,
#gameOver {
    display: none;
}

#titleScreen,
#gameOver {
    padding: 0 25vw;
    text-align: justify;
    font-size: 1.35em;
    text-align-last: center;
}

#gameOver {
    font-size: 2em;
}

#player {
    text-align: center;
    margin-top: 5vh;
    font-size: 1.7em;
}

.line {
    display: flex;
}

.case {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 20vh;
    border: 5px solid var(--border);
}

.c1 {
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
}

.c2 {
    border-top: 5px solid transparent;
}

.c3 {
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
}

.c4 {
    border-left: 5px solid transparent;
}

.c6 {
    border-right: 5px solid transparent;
}

.c7 {
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
}

.c8 {
    border-bottom: 5px solid transparent;
}

.c9 {
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.tic {
    color: var(--color-p1);
}

.tac {
    color: var(--color-p2);
}

.tic,
.tac {
    font-size: 8em;
    font-weight: bolder;
}

@media(max-width:1024px) {
    #titleScreen,
    #gameOver {
        padding: 0 5vw;
        font-size: 1.25em;
    }

    #gameOver {
        font-size: 1.8em;
    }

    #player {
        font-size: 1.5em;
    }

    .case {
        width: 30vw;
        height: 16vh;
    }

    .tic,
    .tac {
        font-size: 5em;
    }
}